DB_PASSWORD=
DB_USERNAME=
DB_NAME=

REDIS_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

JWT_ACCESS_KEY=
JWT_REFRESH_KEY=
JWT_REGISTER_KEY=
JWT_FORGOT_KEY=

SYSTEM_USERNAME=
SYSTEM_PASSWORD=
SYSTEM_EMAIL=

GRAFANA_PASSWORD=